<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="com.loadtrend.app.mobile.loadtool.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="Perspective"
            class="com.loadtrend.app.mobile.loadtool.Perspective"
            id="com.loadtrend.app.mobile.loadtool.perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="com.loadtrend.app.mobile.loadtool.PictureExplorerView"
            id="com.loadtrend.app.mobile.loadtool.PictureExplorerView"
            name="PictureExplorerView">
      </view>
      <view
            class="com.loadtrend.app.mobile.loadtool.MusicExplorerView"
            id="com.loadtrend.app.mobile.loadtool.MusicExplorerView"
            name="MusicExplorerView"/>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="com.loadtrend.app.mobile.loadtool.PictureEditor"
            default="false"
            icon="icons/mobile_pic.ico"
            id="com.loadtrend.app.mobile.loadtool.PictureEditor"
            name="PictureEditor"/>
      <editor
            class="com.loadtrend.app.mobile.loadtool.BrowserEditor"
            default="false"
            icon="icons/WaitingTitle.ico"
            id="com.loadtrend.app.mobile.loadtool.BrowserEditor"
            name="BrowserEditor"/>
      <editor
            class="com.loadtrend.app.mobile.loadtool.WaitForNetProcessEditor"
            default="false"
            icon="icons/WaitingTitle.ico"
            id="com.loadtrend.app.mobile.loadtool.WaitForNetProcessEditor"
            name="WaitForNetProcessEditor"/>
      <editor
            class="com.loadtrend.app.mobile.loadtool.MusicEditor"
            default="false"
            icon="icons/ringtone.gif"
            id="com.loadtrend.app.mobile.loadtool.MusicEditor"
            name="MusicEditor"/>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <viewerContribution
            id="com.loadtrend.app.mobile.loadtool.viewerContribution1"
            targetID="com.loadtrend.app.mobile.loadtool.PictureExplorerView">
         <action
               class="com.loadtrend.app.mobile.loadtool.action.AddProductAction"
               icon="icons/show_newsmsdialog.gif"
               id="com.loadtrend.app.mobile.loadtool.action1"
               label="增加分类"
               menubarPath="additions"/>
         <action
               class="com.loadtrend.app.mobile.loadtool.action.DeleteProductAction"
               icon="icons/delete_sms.gif"
               id="com.loadtrend.app.mobile.loadtool.action2"
               label="删除分类"
               menubarPath="additions"/>
         <action
               class="com.loadtrend.app.mobile.loadtool.action.ModifyProductAction"
               icon="icons/show_replysmsdialog.gif"
               id="com.loadtrend.app.mobile.loadtool.action3"
               label="修改分类"
               menubarPath="additions"/>
         <action
               class="com.loadtrend.app.mobile.loadtool.action.EmptyResourceAction"
               icon="icons/delete_sms.gif"
               id="com.loadtrend.app.mobile.loadtool.action1"
               label="清空资源"
               menubarPath="additions"/>
         <action
               class="com.loadtrend.app.mobile.loadtool.action.ImportResourceAction"
               icon="icons/import_sms.gif"
               id="com.loadtrend.app.mobile.loadtool.action4"
               label="导入资源"
               menubarPath="additions"/>
      </viewerContribution>
      <viewerContribution
            id="com.loadtrend.app.mobile.loadtool.viewerContribution1"
            targetID="com.loadtrend.app.mobile.loadtool.MusicExplorerView">
         <action
               class="com.loadtrend.app.mobile.loadtool.action.AddProductAction"
               icon="icons/show_newsmsdialog.gif"
               id="com.loadtrend.app.mobile.loadtool.action1"
               label="增加分类"
               menubarPath="additions"/>
         <action
               class="com.loadtrend.app.mobile.loadtool.action.DeleteProductAction"
               icon="icons/delete_sms.gif"
               id="com.loadtrend.app.mobile.loadtool.action2"
               label="删除分类"
               menubarPath="additions"/>
         <action
               class="com.loadtrend.app.mobile.loadtool.action.ModifyProductAction"
               icon="icons/show_replysmsdialog.gif"
               id="com.loadtrend.app.mobile.loadtool.action3"
               label="修改分类"
               menubarPath="additions"/>
         <action
               class="com.loadtrend.app.mobile.loadtool.action.EmptyResourceAction"
               icon="icons/delete_sms.gif"
               id="com.loadtrend.app.mobile.loadtool.action1"
               label="清空资源"
               menubarPath="additions"/>
         <action
               class="com.loadtrend.app.mobile.loadtool.action.ImportResourceAction"
               icon="icons/import_sms.gif"
               id="com.loadtrend.app.mobile.loadtool.action4"
               label="导入资源"
               menubarPath="additions"/>
      </viewerContribution>
   </extension>
   <extension
         id="MobileLoadTool"
         point="org.eclipse.core.runtime.products">
      <product
            application="com.loadtrend.app.mobile.loadtool.application"
            name="MobileLoadTool"/>
   </extension>

</plugin>
