<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="com.loadtrend.app.mobile.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="com.loadtrend.app.mobile.perspectives.PicturePerspective"
            icon="icons/mobile_pic.ico"
            id="com.loadtrend.app.mobile.perspectives.PicturePerspective"
            name="%perspective.Picture"/>
      <perspective
            class="com.loadtrend.app.mobile.perspectives.ShortMessagePerspective"
            icon="icons/shortMessage.ico"
            id="com.loadtrend.app.mobile.perspectives.ShortMessagePerspective"
            name="%perspective.ShortMessage">
      </perspective>
      <perspective
            class="com.loadtrend.app.mobile.perspectives.PhoneBookPerspective"
            icon="icons/pb_phonebookbox.ico"
            id="com.loadtrend.app.mobile.perspectives.PhoneBookPerspective"
            name="%perspective.PhoneBook"/>
      <perspective
            class="com.loadtrend.app.mobile.perspectives.SMSArrivalPerspective"
            icon="icons/sms_arrival.gif"
            id="com.loadtrend.app.mobile.perspectives.SMSArrivalPerspective"
            name="%perspective.SMSArrival"/>
      <perspective
            class="com.loadtrend.app.mobile.perspectives.MusicPerspective"
            icon="icons/ringtone.gif"
            id="com.loadtrend.app.mobile.perspectives.MusicPerspective"
            name="%perspective.Music"/>
   </extension>
   <extension
         id="Mobile"
         point="org.eclipse.core.runtime.products">
      <product
            application="com.loadtrend.app.mobile.application"
            name="jMobile">
         <property
               name="windowImages"
               value="icons/Desktop16.gif,icons/Desktop32.gif"/>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="com.loadtrend.app.mobile"
            name="Mobile Explorer"/>
      <view
            category="com.loadtrend.app.mobile"
            class="com.loadtrend.app.mobile.views.SMSExplorerView"
            icon="icons/sms_explorer.gif"
            id="com.loadtrend.app.mobile.views.SMSExplorerView"
            name="SMS Explorer"/>
      <view
            category="com.loadtrend.app.mobile"
            class="com.loadtrend.app.mobile.views.SMSSearchView"
            icon="icons/sms_searchsms.gif"
            id="com.loadtrend.app.mobile.views.SMSSearchView"
            name="SMS Quick Search"/>
      <view
            category="com.loadtrend.app.mobile"
            class="com.loadtrend.app.mobile.views.SMSSendView"
            icon="icons/sms_sendsms.gif"
            id="com.loadtrend.app.mobile.views.SMSSendView"
            name="SMS Quick Send"/>
      <view
            category="com.loadtrend.app.mobile"
            class="com.loadtrend.app.mobile.views.SMSDetailsView"
            icon="icons/sms_read.ico"
            id="com.loadtrend.app.mobile.views.SMSDetailsView"
            name="SMS Details"/>
      <view
            category="com.loadtrend.app.mobile"
            class="com.loadtrend.app.mobile.views.PBExplorerView"
            icon="icons/pb_explorer.gif"
            id="com.loadtrend.app.mobile.views.PBExplorerView"
            name="PhoneBook Explorer"/>
      <view
            category="com.loadtrend.app.mobile"
            class="com.loadtrend.app.mobile.views.PBSearchView"
            icon="icons/pb_searchpb.ico"
            id="com.loadtrend.app.mobile.views.PBSearchView"
            name="PhoneBook Quick Search"/>
      <view
            category="com.loadtrend.app.mobile"
            class="com.loadtrend.app.mobile.views.smsArrival.SMSArrivalView"
            icon="icons/sms_arrival.gif"
            id="com.loadtrend.app.mobile.views.smsArrival.SMSArrivalView"
            name="SMS Arrival"/>
      <view
            category="com.loadtrend.app.mobile"
            class="com.loadtrend.app.mobile.views.smsArrival.SMSArrivalViewLog"
            id="com.loadtrend.app.mobile.views.smsArrival.SMSArrivalViewLog"
            name="SMS Arrival Log"/>
      <view
            category="com.loadtrend.app.mobile"
            class="com.loadtrend.app.mobile.views.media.PictureExplorerView"
            icon="icons/pb_explorer.gif"
            id="com.loadtrend.app.mobile.views.media.PictureExplorerView"
            name="Picture Explorer"/>
      <view
            category="com.loadtrend.app.mobile"
            class="com.loadtrend.app.mobile.views.media.MusicExplorerView"
            icon="icons/music_explorer.gif"
            id="com.loadtrend.app.mobile.views.media.MusicExplorerView"
            name="Music Explorer"/>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="com.loadtrend.app.mobile.editors.SMSEditor"
            icon="icons/sample.gif"
            id="com.loadtrend.app.mobile.editors.SMSEditor"
            name="SMSEditor"/>
      <editor
            class="com.loadtrend.app.mobile.editors.PBEditor"
            icon="icons/sample.gif"
            id="com.loadtrend.app.mobile.editors.PBEditor"
            name="PBEditor"/>
      <editor
            class="com.loadtrend.app.mobile.editors.WaitForMobileProcessEditor"
            icon="icons/WaitingTitle.ico"
            id="com.loadtrend.app.mobile.editors.WaitForMobileProcessEditor"
            name="WaitForMobileProcessEditor"/>
      <editor
            class="com.loadtrend.app.mobile.editors.PictureEditor"
            default="false"
            icon="icons/mobile_pic.ico"
            id="com.loadtrend.app.mobile.editors.PictureEditor"
            name="PictureEditor"/>
      <editor
            class="com.loadtrend.app.mobile.editors.BrowserEditor"
            default="false"
            icon="icons/WaitingTitle.ico"
            id="com.loadtrend.app.mobile.editors.BrowserEditor"
            name="BrowserEditor"/>
      <editor
            class="com.loadtrend.app.mobile.editors.MusicEditor"
            default="false"
            icon="icons/ringtone.gif"
            id="com.loadtrend.app.mobile.editors.MusicEditor"
            name="MusicEditor"/>
      <editor
            class="com.loadtrend.app.mobile.editors.WaitForNetProcessEditor"
            default="false"
            icon="icons/WaitingTitle.ico"
            id="com.loadtrend.app.mobile.editors.WaitForNetProcessEditor"
            name="WaitForNetProcessEditor"/>
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="com.loadtrend.app.mobile.sms.actionSet"
            label="JMobile SMS Tools"
            visible="false">
         <menu
               id="com.loadtrend.app.mobile.menu1"
               label="%EDIT_MENU"
               path="additions">
            <separator name="separator1"/>
            <separator name="separator2"/>
            <separator name="separator3"/>
            <separator name="separator4"/>
         </menu>
         <action
               class="com.loadtrend.app.mobile.mobileaction.DeleteSMSAction"
               disabledIcon="icons/delete_dsms.gif"
               enablesFor="+"
               icon="icons/delete_sms.gif"
               id="com.loadtrend.app.mobile.action2"
               label="%DELETE_SMS_ACTION_TEXT"
               menubarPath="com.loadtrend.app.mobile.menu1/separator1"
               style="push"
               toolbarPath="separator1"
               tooltip="%DELETE_SMS_ACTION_TOOLTIPTEXT">
            <enablement>
               <objectClass name="loadtrend.mobile.Message"/>
            </enablement>
         </action>
         <action
               class="com.loadtrend.app.mobile.action.ShowNewSMSDialogAction"
               disabledIcon="icons/show_dnewsmsdialog.gif"
               icon="icons/show_newsmsdialog.gif"
               id="com.loadtrend.app.mobile.action1"
               label="%SHOW_NEWSMSDIALOG_ACTION_TEXT"
               menubarPath="com.loadtrend.app.mobile.menu1/separator1"
               style="push"
               toolbarPath="separator1"
               tooltip="%SHOW_NEWSMSDIALOG_ACTION_TOOLTIPTEXT"/>
         <action
               class="com.loadtrend.app.mobile.action.ShowForwardSMSDialogAction"
               disabledIcon="icons/show_dforwardsmsdialog.gif"
               enablesFor="1"
               icon="icons/show_forwardsmsdialog.gif"
               id="com.loadtrend.app.mobile.action5"
               label="%SHOW_FORWARDSMSDIALOG_ACTION_TEXT"
               menubarPath="com.loadtrend.app.mobile.menu1/separator2"
               style="push"
               toolbarPath="separator2"
               tooltip="%SHOW_FORWARDSMSDIALOG_ACTION_TOOLTIPTEXT">
            <enablement>
               <objectClass name="loadtrend.mobile.Message"/>
            </enablement>
         </action>
         <action
               class="com.loadtrend.app.mobile.action.ShowResendSMSDialogAction"
               disabledIcon="icons/show_dresendsmsdialog.gif"
               enablesFor="1"
               icon="icons/show_resendsmsdialog.gif"
               id="com.loadtrend.app.mobile.action4"
               label="%SHOW_RESENDSMSDIALOG_ACTION_TEXT"
               menubarPath="com.loadtrend.app.mobile.menu1/separator2"
               style="push"
               toolbarPath="separator2"
               tooltip="%SHOW_RESENDSMSDIALOG_ACTION_TOOLTIPTEXT">
            <enablement>
               <objectClass name="loadtrend.mobile.Message"/>
            </enablement>
         </action>
         <action
               class="com.loadtrend.app.mobile.action.ShowReplySMSDialogAction"
               disabledIcon="icons/show_dreplysmsdialog.gif"
               enablesFor="+"
               icon="icons/show_replysmsdialog.gif"
               id="com.loadtrend.app.mobile.action3"
               label="%SHOW_REPLYSMSDIALOG_ACTION_TEXT"
               menubarPath="com.loadtrend.app.mobile.menu1/separator2"
               style="push"
               toolbarPath="separator2"
               tooltip="%SHOW_REPLYSMSDIALOG_ACTION_TOOLTIPTEXT">
            <enablement>
               <objectClass name="loadtrend.mobile.Message"/>
            </enablement>
         </action>
         <action
               class="com.loadtrend.app.mobile.action.OpenSMSSendViewAction"
               disabledIcon="icons/sms_sendsms.gif"
               icon="icons/sms_sendsms.gif"
               id="com.loadtrend.app.mobile.action7"
               label="%OPEN_SMSSENDVIEW_ACTION_TEXT"
               menubarPath="com.loadtrend.app.mobile.menu1/separator3"
               style="push"
               toolbarPath="separator3"
               tooltip="%OPEN_SMSSENDVIEW_ACTION_TOOLTIPTEXT"/>
         <action
               class="com.loadtrend.app.mobile.action.OpenSMSSearchViewAction"
               disabledIcon="icons/sms_dsearchsms.gif"
               icon="icons/sms_searchsms.gif"
               id="com.loadtrend.app.mobile.action6"
               label="%OPEN_SMSSEARCHVIEW_ACTION_TEXT"
               menubarPath="com.loadtrend.app.mobile.menu1/separator3"
               style="push"
               toolbarPath="separator3"
               tooltip="%OPEN_SMSSEARCHVIEW_ACTION_TOOLTIPTEXT"/>
         <action
               class="com.loadtrend.app.mobile.action.GenerateSMSReportAction"
               disabledIcon="icons/generate_dsmsreport.gif"
               enablesFor="+"
               icon="icons/generate_smsreport.gif"
               id="com.loadtrend.app.mobile.action9"
               label="%GENERATE_SMS_REPORT_ACTION_TEXT"
               menubarPath="com.loadtrend.app.mobile.menu1/separator4"
               style="pulldown"
               toolbarPath="separator4"
               tooltip="%GENERATE_SMS_REPORT_ACTION_TOOLTIPTEXT">
            <enablement>
               <objectClass name="loadtrend.mobile.Message"/>
            </enablement>
         </action>
         <action
               class="com.loadtrend.app.mobile.mobileaction.ExportSMSAction"
               disabledIcon="icons/export_dsms.gif"
               enablesFor="+"
               icon="icons/export_sms.gif"
               id="com.loadtrend.app.mobile.action8"
               label="%EXPORT_SMS_ACTION_TEXT"
               menubarPath="com.loadtrend.app.mobile.menu1/separator4"
               style="pulldown"
               toolbarPath="separator4"
               tooltip="%EXPORT_SMS_ACTION_TOOLTIPTEXT">
            <enablement>
               <objectClass name="loadtrend.mobile.Message"/>
            </enablement>
         </action>
      </actionSet>
      <actionSet
            id="com.loadtrend.app.mobile.phonebook.actionSet"
            label="JMobile PhoneBook Tools"
            visible="false">
         <menu
               id="com.loadtrend.app.mobile.menu1"
               label="%EDIT_MENU"
               path="additions">
            <separator name="separator6"/>
            <separator name="separator7"/>
            <separator name="separator8"/>
         </menu>
         <action
               class="com.loadtrend.app.mobile.mobileaction.DeletePBAction"
               disabledIcon="icons/delete_dpb.gif"
               enablesFor="+"
               icon="icons/delete_pb.gif"
               id="com.loadtrend.app.mobile.action5"
               label="%DELETE_PB_ACTION_TEXT"
               menubarPath="com.loadtrend.app.mobile.menu1/separator6"
               style="push"
               toolbarPath="separator6"
               tooltip="%DELETE_PB_ACTION_TOOLTIPTEXT">
            <enablement>
               <objectClass name="loadtrend.mobile.PhoneBook"/>
            </enablement>
         </action>
         <action
               class="com.loadtrend.app.mobile.action.ShowModifyPBDialogAction"
               disabledIcon="icons/show_dmodifypbdialog.gif"
               enablesFor="1"
               icon="icons/show_modifypbdialog.gif"
               id="com.loadtrend.app.mobile.action4"
               label="%SHOW_MODIFYPBDIALOG_ACTION_TEXT"
               menubarPath="com.loadtrend.app.mobile.menu1/separator6"
               style="push"
               toolbarPath="separator6"
               tooltip="%SHOW_MODIFYPBDIALOG_ACTION_TOOLTIPTEXT">
            <enablement>
               <objectClass name="loadtrend.mobile.PhoneBook"/>
            </enablement>
         </action>
         <action
               class="com.loadtrend.app.mobile.action.ShowNewPBDialogAction"
               disabledIcon="icons/show_dnewpbdialog.ico"
               icon="icons/show_newpbdialog.ico"
               id="com.loadtrend.app.mobile.action3"
               label="%SHOW_NEWPBDIALOG_ACTION_TEXT"
               menubarPath="com.loadtrend.app.mobile.menu1/separator6"
               style="push"
               toolbarPath="separator6"
               tooltip="%SHOW_NEWPBDIALOG_ACTION_TOOLTIPTEXT"/>
         <action
               class="com.loadtrend.app.mobile.action.ShowPhoneSMSDialogAction"
               disabledIcon="icons/phone_dsendsms.gif"
               enablesFor="+"
               icon="icons/sms_sendsms.gif"
               id="com.loadtrend.app.mobile.action1"
               label="%SHOW_PHONESMSDIALOG_ACTION_TEXT"
               menubarPath="com.loadtrend.app.mobile.menu1/separator7"
               style="push"
               toolbarPath="separator7"
               tooltip="%SHOW_PHONESMSDIALOG_ACTION_TEXT_TOOLTIPTEXT">
            <enablement>
               <objectClass name="loadtrend.mobile.PhoneBook"/>
            </enablement>
         </action>
         <action
               class="com.loadtrend.app.mobile.action.OpenPBSearchViewAction"
               disabledIcon="icons/pb_dsearchpb.ico"
               icon="icons/pb_searchpb.ico"
               id="com.loadtrend.app.mobile.action3"
               label="%OPEN_PBSEARCHVIEW_ACTION_TEXT"
               menubarPath="com.loadtrend.app.mobile.menu1/separator7"
               style="push"
               toolbarPath="separator7"
               tooltip="%OPEN_PBSEARCHVIEW_ACTION_TOOLTIPTEXT"/>
         <action
               class="com.loadtrend.app.mobile.action.GeneratePBReportAction"
               disabledIcon="icons/generate_dpbreport.gif"
               enablesFor="+"
               icon="icons/generate_pbreport.gif"
               id="com.loadtrend.app.mobile.action6"
               label="%GENERATE_PB_REPORT_ACTION_TEXT"
               menubarPath="com.loadtrend.app.mobile.menu1/separator8"
               style="pulldown"
               toolbarPath="separator8"
               tooltip="%GENERATE_PB_REPORT_ACTION_TOOLTIPTEXT">
            <enablement>
               <objectClass name="loadtrend.mobile.PhoneBook"/>
            </enablement>
         </action>
         <action
               class="com.loadtrend.app.mobile.mobileaction.ExportPBAction"
               disabledIcon="icons/export_dpb.gif"
               enablesFor="+"
               icon="icons/export_pb.gif"
               id="com.loadtrend.app.mobile.action7"
               label="%EXPORT_PB_ACTION_TEXT"
               menubarPath="com.loadtrend.app.mobile.menu1/separator8"
               style="pulldown"
               toolbarPath="separator8"
               tooltip="%EXPORT_PB_ACTION_TOOLTIPTEXT">
            <enablement>
               <objectClass name="loadtrend.mobile.PhoneBook"/>
            </enablement>
         </action>
      </actionSet>
      <actionSet
            id="com.loadtrend.app.mobile.smsarrival.actionSet"
            label="JMobile SMS Arrival Tools"
            visible="false">
         <menu
               id="com.loadtrend.app.mobile.menu1"
               label="%EDIT_MENU"
               path="additions">
            <separator name="separator9"/>
         </menu>
         <action
               class="com.loadtrend.app.mobile.action.RemoveXMLNodeAction"
               disabledIcon="icons/remove_dxmlnode.gif"
               enablesFor="+"
               icon="icons/remove_xmlnode.gif"
               id="com.loadtrend.app.mobile.action1"
               label="%REMOVE_XMLNODE_ACTION_TEXT"
               menubarPath="com.loadtrend.app.mobile.menu1/separator9"
               style="push"
               toolbarPath="separator9"
               tooltip="%REMOVE_XMLNODE_ACTION_TEXT">
            <enablement>
               <objectClass name="org.dom4j.Element"/>
            </enablement>
         </action>
         <action
               class="com.loadtrend.app.mobile.action.AddXMLNodeAction"
               disabledIcon="icons/add_dxmlnode.gif"
               enablesFor="+"
               icon="icons/add_xmlnode.gif"
               id="com.loadtrend.app.mobile.action3"
               label="%ADD_XMLNODE_ACTION_TEXT"
               menubarPath="com.loadtrend.app.mobile.menu1/separator9"
               style="push"
               toolbarPath="separator9"
               tooltip="%ADD_XMLNODE_ACTION_TEXT">
            <enablement>
               <objectClass name="org.dom4j.Element"/>
            </enablement>
         </action>
      </actionSet>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension targetID="com.loadtrend.app.mobile.perspectives.ShortMessagePerspective">
         <actionSet id="com.loadtrend.app.mobile.sms.actionSet"/>
      </perspectiveExtension>
      <perspectiveExtension targetID="com.loadtrend.app.mobile.perspectives.PhoneBookPerspective">
         <actionSet id="com.loadtrend.app.mobile.phonebook.actionSet"/>
      </perspectiveExtension>
      <perspectiveExtension targetID="com.loadtrend.app.mobile.perspectives.SMSArrivalPerspective">
         <actionSet id="com.loadtrend.app.mobile.smsarrival.actionSet"/>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="false"
            id="com.loadtrend.app.mobile.smseditor.objectContribution"
            objectClass="loadtrend.mobile.Message">
         <menu
               id="com.loadtrend.app.mobile.menu1"
               label="%GENERATE_SMS_REPORT_ACTION_TEXT"
               path="separator">
            <separator name="separator4"/>
         </menu>
         <menu
               id="com.loadtrend.app.mobile.menu2"
               label="%EXPORT_SMS_ACTION_TEXT"
               path="separator">
            <separator name="separator4"/>
         </menu>
         <action
               class="com.loadtrend.app.mobile.mobileaction.DeleteSMSAction"
               enablesFor="+"
               icon="icons/delete_sms.gif"
               id="com.loadtrend.app.mobile.action2"
               label="%DELETE_SMS_ACTION_TEXT"
               menubarPath="separator1"
               style="push"
               tooltip="%DELETE_SMS_ACTION_TOOLTIPTEXT">
         </action>
         <action
               class="com.loadtrend.app.mobile.action.ShowNewSMSDialogAction"
               icon="icons/show_newsmsdialog.gif"
               id="com.loadtrend.app.mobile.action1"
               label="%SHOW_NEWSMSDIALOG_ACTION_TEXT"
               menubarPath="separator1"
               style="push"
               tooltip="%SHOW_NEWSMSDIALOG_ACTION_TOOLTIPTEXT"/>
               <action
                     class="com.loadtrend.app.mobile.action.ShowForwardSMSDialogAction"
                     enablesFor="1"
                     icon="icons/show_forwardsmsdialog.gif"
                     id="com.loadtrend.app.mobile.action5"
                     label="%SHOW_FORWARDSMSDIALOG_ACTION_TEXT"
                     menubarPath="separator2"
                     style="push"
                     tooltip="%SHOW_FORWARDSMSDIALOG_ACTION_TOOLTIPTEXT">
         </action>
         <action
               class="com.loadtrend.app.mobile.action.ShowResendSMSDialogAction"
               enablesFor="1"
               icon="icons/show_resendsmsdialog.gif"
               id="com.loadtrend.app.mobile.action4"
               label="%SHOW_RESENDSMSDIALOG_ACTION_TEXT"
               menubarPath="separator2"
               style="push"
               tooltip="%SHOW_RESENDSMSDIALOG_ACTION_TOOLTIPTEXT">
         </action>
         <action
               class="com.loadtrend.app.mobile.action.ShowReplySMSDialogAction"
               enablesFor="+"
               icon="icons/show_replysmsdialog.gif"
               id="com.loadtrend.app.mobile.action3"
               label="%SHOW_REPLYSMSDIALOG_ACTION_TEXT"
               menubarPath="separator2"
               style="push"
               tooltip="%SHOW_REPLYSMSDIALOG_ACTION_TOOLTIPTEXT">
         </action>
          <action
                class="com.loadtrend.app.mobile.action.OpenSMSSendViewAction"
                icon="icons/sms_sendsms.gif"
                id="com.loadtrend.app.mobile.action7"
                label="%OPEN_SMSSENDVIEW_ACTION_TEXT"
                menubarPath="separator3"
                style="push"
                tooltip="%OPEN_SMSSENDVIEW_ACTION_TOOLTIPTEXT"/>
         <action
               class="com.loadtrend.app.mobile.action.OpenSMSSearchViewAction"
               icon="icons/sms_searchsms.gif"
               id="com.loadtrend.app.mobile.action6"
               label="%OPEN_SMSSEARCHVIEW_ACTION_TEXT"
               menubarPath="separator3"
               style="push"
               tooltip="%OPEN_SMSSEARCHVIEW_ACTION_TOOLTIPTEXT"/>
         <action
               class="com.loadtrend.app.mobile.mobileaction.ExportSMSActionToSIM"
               enablesFor="+"
               icon="icons/simcard.ico"
               id="com.loadtrend.app.mobile.action9"
               label="%SIMCARD_TEXT"
               menubarPath="com.loadtrend.app.mobile.menu2/separator4"
               tooltip="%SIMCARD_TEXT">
         </action>
         <action
               class="com.loadtrend.app.mobile.mobileaction.ExportSMSActionToMobile"
               enablesFor="+"
               icon="icons/sms_mobile.ico"
               id="com.loadtrend.app.mobile.action8"
               label="%MOBILE_TEXT"
               menubarPath="com.loadtrend.app.mobile.menu2/separator4"
               tooltip="%MOBILE_TEXT">
         </action>
         <action
               class="com.loadtrend.app.mobile.action.GenerateSMSReportToTXTAction"
               id="com.loadtrend.app.mobile.action11"
               label="%SMSREPORT_TXT_TYPE"
               menubarPath="com.loadtrend.app.mobile.menu1/separator4"
               tooltip="%SMSREPORT_TXT_TYPE"/>
      </objectContribution>
      <objectContribution
            adaptable="false"
            id="com.loadtrend.app.mobile.pbeditor.objectContribution"
            objectClass="loadtrend.mobile.PhoneBook">
         <menu
               id="com.loadtrend.app.mobile.menu3"
               label="%GENERATE_PB_REPORT_ACTION_TEXT"
               path="separator">
            <separator name="separator8"/>
         </menu>
         <menu
               id="com.loadtrend.app.mobile.menu4"
               label="%EXPORT_PB_ACTION_TEXT"
               path="separator">
            <separator name="separator8"/>
         </menu>
         <action
               class="com.loadtrend.app.mobile.mobileaction.DeletePBAction"
               enablesFor="+"
               icon="icons/delete_pb.gif"
               id="com.loadtrend.app.mobile.action5"
               label="%DELETE_PB_ACTION_TEXT"
               menubarPath="separator6"
               style="push"
               tooltip="%DELETE_PB_ACTION_TOOLTIPTEXT">
            <enablement>
               <objectClass name="loadtrend.mobile.PhoneBook"/>
            </enablement>
         </action>
         <action
               class="com.loadtrend.app.mobile.action.ShowModifyPBDialogAction"
               enablesFor="1"
               icon="icons/show_modifypbdialog.gif"
               id="com.loadtrend.app.mobile.action4"
               label="%SHOW_MODIFYPBDIALOG_ACTION_TEXT"
               menubarPath="separator6"
               style="push"
               tooltip="%SHOW_MODIFYPBDIALOG_ACTION_TOOLTIPTEXT">
            <enablement>
               <objectClass name="loadtrend.mobile.PhoneBook"/>
            </enablement>
         </action>
         <action
               class="com.loadtrend.app.mobile.action.ShowNewPBDialogAction"
               icon="icons/show_newpbdialog.ico"
               id="com.loadtrend.app.mobile.action3"
               label="%SHOW_NEWPBDIALOG_ACTION_TEXT"
               menubarPath="separator6"
               style="push"
               tooltip="%SHOW_NEWPBDIALOG_ACTION_TOOLTIPTEXT"/>
         <action
               class="com.loadtrend.app.mobile.action.ShowPhoneSMSDialogAction"
               enablesFor="+"
               icon="icons/phone_sendsms.gif"
               id="com.loadtrend.app.mobile.action1"
               label="%SHOW_PHONESMSDIALOG_ACTION_TEXT"
               menubarPath="separator7"
               style="push"
               tooltip="%SHOW_PHONESMSDIALOG_ACTION_TEXT_TOOLTIPTEXT"/>
         <action
               class="com.loadtrend.app.mobile.action.OpenPBSearchViewAction"
               icon="icons/pb_searchpb.ico"
               id="com.loadtrend.app.mobile.action3"
               label="%OPEN_PBSEARCHVIEW_ACTION_TEXT"
               menubarPath="separator7"
               style="push"
               tooltip="%OPEN_PBSEARCHVIEW_ACTION_TOOLTIPTEXT"/>
         <action
               class="com.loadtrend.app.mobile.mobileaction.ExportPBActionToSIM"
               enablesFor="+"
               icon="icons/simcard.ico"
               id="com.loadtrend.app.mobile.action1"
               label="%SIMCARD_TEXT"
               menubarPath="com.loadtrend.app.mobile.menu4/separator8"
               tooltip="%SIMCARD_TEXT"/>
         <action
               class="com.loadtrend.app.mobile.mobileaction.ExportPBActionToMobile"
               enablesFor="+"
               icon="icons/sms_mobile.ico"
               id="com.loadtrend.app.mobile.action2"
               label="%MOBILE_TEXT"
               menubarPath="com.loadtrend.app.mobile.menu4/separator8"
               tooltip="%MOBILE_TEXT"/>
         <action
               class="com.loadtrend.app.mobile.action.GeneratePBReportActionToTXTAction"
               id="com.loadtrend.app.mobile.action3"
               label="%PBREPORT_TXT_TYPE"
               menubarPath="com.loadtrend.app.mobile.menu3/separator8"
               tooltip="%PBREPORT_TXT_TYPE"/>
      </objectContribution>
      <viewerContribution
            id="com.loadtrend.app.mobile.smsview.viewerContribution"
            targetID="com.loadtrend.app.mobile.views.SMSExplorerView">
         <action
               class="com.loadtrend.app.mobile.mobileaction.DeleteAllSMSAction"
               enablesFor="+"
               icon="icons/delete_sms.gif"
               id="com.loadtrend.app.mobile.action1"
               label="%DELETE_ALLSMS_ACTION_TEXT"
               menubarPath="additions"
               tooltip="%DELETE_ALLSMS_ACTION_TOOLTIPTEXT">
            <enablement>
               <and>
                  <objectClass name="com.loadtrend.app.trees.TreeObject"/>
                  <objectState
                        name="collection.size"
                        value="&gt;1"/>
               </and>
            </enablement>
         </action>
         <action
               class="com.loadtrend.app.mobile.mobileaction.ReloadSMSInSMSEditorAction"
               icon="icons/reload_sms.gif"
               id="com.loadtrend.app.mobile.action2"
               label="%RELOAD_SMSINSMSEDITOR_ACTION_TEXT"
               menubarPath="additions"
               tooltip="%RELOAD_SMSINSMSEDITOR_ACTION_TOOLTIPTEXT"/>
         <action
               class="com.loadtrend.app.mobile.mobileaction.OpenSMSInSMSEditorAction"
               enablesFor="+"
               icon="icons/open_smsinsmseditor.gif"
               id="com.loadtrend.app.mobile.action3"
               label="%OPEN_PBINPBEDITOR_ACTION_TEXT"
               menubarPath="additions"
               tooltip="%OPEN_SMSINSMSEDITOR_ACTION_TOOLTIPTEXT">
            <enablement>
               <not>
                  <objectClass name="com.loadtrend.app.trees.TreeParent"/>
               </not>
            </enablement>
         </action>
      </viewerContribution>
      <viewerContribution
            id="com.loadtrend.app.mobile.pbview.viewerContribution"
            targetID="com.loadtrend.app.mobile.views.PBExplorerView">
         <action
               class="com.loadtrend.app.mobile.mobileaction.DeleteAllPBAction"
               enablesFor="+"
               icon="icons/delete_pb.gif"
               id="com.loadtrend.app.mobile.action3"
               label="%DELETE_ALLPB_ACTION_TEXT"
               menubarPath="additions"
               style="push"
               tooltip="%DELETE_ALLPB_ACTION_TOOLTIPTEXT">
            <enablement>
               <and>
                  <objectClass name="com.loadtrend.app.trees.TreeObject"/>
                  <objectState
                        name="collection.size"
                        value="&gt;1"/>
               </and>
            </enablement>
         </action>
         <action
               class="com.loadtrend.app.mobile.mobileaction.ReloadPBInPBEditorAction"
               icon="icons/reload_pb.gif"
               id="com.loadtrend.app.mobile.action2"
               label="%RELOAD_PBINPBEDITOR_ACTION_TEXT"
               menubarPath="additions"
               style="push"
               tooltip="%RELOAD_PBINPBEDITOR_ACTION_TOOLTIPTEXT"/>
         <action
               class="com.loadtrend.app.mobile.mobileaction.OpenPBInPBEditorAction"
               enablesFor="+"
               icon="icons/open_pbinpbeditor.gif"
               id="com.loadtrend.app.mobile.action1"
               label="%OPEN_PBINPBEDITOR_ACTION_TEXT"
               menubarPath="additions"
               style="push"
               tooltip="%OPEN_PBINPBEDITOR_ACTION_TOOLTIPTEXT">
            <enablement>
               <not>
                  <objectClass name="com.loadtrend.app.trees.TreeParent"/>
               </not>
            </enablement>
         </action>
      </viewerContribution>
      <viewerContribution
            id="com.loadtrend.app.mobile.smsarrivalview.viewerContribution"
            targetID="com.loadtrend.app.mobile.views.smsArrival.SMSArrivalView">
         <action
               class="com.loadtrend.app.mobile.action.RemoveXMLNodeAction"
               enablesFor="+"
               icon="icons/remove_xmlnode.gif"
               id="com.loadtrend.app.mobile.action2"
               label="%REMOVE_XMLNODE_ACTION_TEXT"
               menubarPath="additions"
               style="push">
            <enablement>
               <objectClass name="org.dom4j.Element"/>
            </enablement>
         </action>
         <action
               class="com.loadtrend.app.mobile.action.AddXMLNodeAction"
               enablesFor="+"
               icon="icons/add_xmlnode.gif"
               id="com.loadtrend.app.mobile.action1"
               label="%ADD_XMLNODE_ACTION_TEXT"
               menubarPath="additions"
               style="push"
               tooltip="%ADD_XMLNODE_ACTION_TOOLTIPTEXT">
            <enablement>
               <objectClass name="org.dom4j.Element"/>
            </enablement>
         </action>
      </viewerContribution>   </extension>
   <extension
         point="org.eclipse.ui.viewActions">
      <viewContribution
            id="com.loadtrend.app.mobile.smsview.viewerContribution"
            targetID="com.loadtrend.app.mobile.views.SMSExplorerView">
         <action
               class="com.loadtrend.app.mobile.mobileaction.DeleteAllSMSAction"
               disabledIcon="icons/delete_dsms.gif"
               enablesFor="+"
               icon="icons/delete_sms.gif"
               id="com.loadtrend.app.mobile.action2"
               label="%DELETE_ALLSMS_ACTION_TEXT"
               style="push"
               toolbarPath="additions"
               tooltip="%DELETE_ALLSMS_ACTION_TOOLTIPTEXT">
            <enablement>
               <and>
                  <objectClass name="com.loadtrend.app.trees.TreeObject"/>
                  <objectState
                        name="collection.size"
                        value="&gt;1"/>
               </and>
            </enablement>
         </action>
         <action
               class="com.loadtrend.app.mobile.mobileaction.ReloadSMSInSMSEditorAction"
               disabledIcon="icons/reload_dsms.gif"
               icon="icons/reload_sms.gif"
               id="com.loadtrend.app.mobile.action1"
               label="%RELOAD_SMSINSMSEDITOR_ACTION_TEXT"
               style="push"
               toolbarPath="additions"
               tooltip="%RELOAD_SMSINSMSEDITOR_ACTION_TOOLTIPTEXT"/>
         <action
               class="com.loadtrend.app.mobile.mobileaction.OpenSMSInSMSEditorAction"
               disabledIcon="icons/open_dsmsinsmseditor.gif"
               enablesFor="+"
               icon="icons/open_smsinsmseditor.gif"
               id="com.loadtrend.app.mobile.action3"
               label="%OPEN_SMSINSMSEDITOR_ACTION_TEXT"
               style="push"
               toolbarPath="additions"
               tooltip="%OPEN_SMSINSMSEDITOR_ACTION_TOOLTIPTEXT">
            <enablement>
               <not>
                  <objectClass name="com.loadtrend.app.trees.TreeParent"/>
               </not>
            </enablement>
         </action>
      </viewContribution>
      <viewContribution
            id="com.loadtrend.app.mobile.pbview.viewerContribution"
            targetID="com.loadtrend.app.mobile.views.PBExplorerView">
         <action
               class="com.loadtrend.app.mobile.mobileaction.DeleteAllPBAction"
               disabledIcon="icons/delete_dpb.gif"
               enablesFor="+"
               icon="icons/delete_pb.gif"
               id="com.loadtrend.app.mobile.action3"
               label="%DELETE_ALLPB_ACTION_TEXT"
               style="push"
               toolbarPath="additions"
               tooltip="%DELETE_ALLPB_ACTION_TOOLTIPTEXT">
            <enablement>
               <and>
                  <objectClass name="com.loadtrend.app.trees.TreeObject"/>
                  <objectState
                        name="collection.size"
                        value="&gt;1"/>
               </and>
            </enablement>
         </action>
         <action
               class="com.loadtrend.app.mobile.mobileaction.ReloadPBInPBEditorAction"
               disabledIcon="icons/reload_dpb.gif"
               icon="icons/reload_pb.gif"
               id="com.loadtrend.app.mobile.action2"
               label="%RELOAD_PBINPBEDITOR_ACTION_TEXT"
               style="push"
               toolbarPath="additions"
               tooltip="%RELOAD_PBINPBEDITOR_ACTION_TOOLTIPTEXT"/>
         <action
               class="com.loadtrend.app.mobile.mobileaction.OpenPBInPBEditorAction"
               disabledIcon="icons/open_dpbinpbeditor.gif"
               enablesFor="+"
               icon="icons/open_pbinpbeditor.gif"
               id="com.loadtrend.app.mobile.action1"
               label="%OPEN_PBINPBEDITOR_ACTION_TEXT"
               style="push"
               toolbarPath="additions"
               tooltip="%OPEN_PBINPBEDITOR_ACTION_TOOLTIPTEXT">
            <enablement>
               <not>
                  <objectClass name="com.loadtrend.app.trees.TreeParent"/>
               </not>
            </enablement>
         </action>
      </viewContribution>
   </extension>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="com.loadtrend.app.trees.TreeObject"
            class="com.loadtrend.app.trees.MobileAdapterFactory">
         <adapter type="org.eclipse.ui.model.IWorkbenchAdapter"/>
      </factory>
      <factory
            adaptableType="com.loadtrend.app.trees.TreeParent"
            class="com.loadtrend.app.trees.MobileAdapterFactory">
         <adapter type="org.eclipse.ui.model.IWorkbenchAdapter"/>
      </factory>
      <factory
            adaptableType="org.dom4j.Element"
            class="com.loadtrend.app.trees.ElementAdapterFactory">
         <adapter type="org.eclipse.ui.model.IWorkbenchAdapter"/>
      </factory>
   </extension>
   
</plugin>
